.first {
  padding: 32px 0;
  text-align: center;
  position: relative;

  @include breakpoint($min-desktop) {
    padding: 64px 0;
    text-align: left;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include breakpoint($min-desktop) {
      flex-direction: row;
    }
  }

  &--image {
    width: 100%;
    object-fit: cover;
  }

  &--content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 648px;

    &-tag {
        align-self: center;

        @include breakpoint($min-desktop) {
            align-self: flex-start;
        }
    }

    &-button {
        align-self: center;

        @include breakpoint($min-desktop) {
          margin-top: 32px;
          align-self: flex-start;
      }
    }
  }
}
