/* Media queries */
$max-mobile: max-width 600px;
$min-tablet: min-width 600px;
$min-desktop: min-width 960px;
$min-desktop-large: min-width 1100px;
$min-desktop-xlarge: min-width 1280px;
$min-desktop-xxlarge: min-width 1440px;

$primary-color: #27415C;
$secondary-color: #5C9DDC;
$light-color: #FFFFFF;
$dark-color: #120F18;
$neon-nazar-color: #46D6DD;
$apollo-white-color: #DDFFFF;

$main-transition: 0.3s ease;
$cubic-bezier: cubic-bezier(.4,.75,.25,1);

$text-shadow: 0 3px 3px rgba($dark-color, 0.2);
$box-shadow: 0 15px 20px rgba($dark-color, 0.3);

$primary-font: 'Montserrat', 'Arial';
$secondary-font: 'Open Sans', sans-serif;
